@font-face {
  font-family: "PoppinsL";
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "PoppinsR";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "PoppinsM";
  src: url(../fonts/Poppins-Medium.ttf);
}
